@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

a:hover{
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    border: 50px;
}

main{
    padding: 16px;
    margin-bottom: 50px;
}

footer{
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    bottom: 0;
    background-color: #590202;
    width: 100%;

}


nav{
    height: 50px;
    background-color: #BF2011;
    border-bottom: 1px solid black;
}
img{
    height: 200px;
}

.top_bar{
    color: black;
}

.main-page {
    height: 100px;
    padding: 20px;
    width: 50%;
    line-height: 50px;
    color: white;
}

.food-items {
    display: grid;
    grid-template-columns:repeat(4,auto) ;
    grid-template-rows: 1fr 1fr;

}

h1 {
    color: #F2B705;
}

.tacos {
    color: #590202;
}

tbody tr:nth-child(2n) {
    background-color: #F2790F;
}

.item {
    transition: box-shadow 0.5s;
}

.item:hover {
    box-shadow: 0px 4px 10px 10px #590202;
}

table, th, tr, td {
    border: 1px solid;
}

table {
    width: 20%;
}
